{% include 'header/header.html' %}

<div class="content">
    <div class="container-fluid">
        <div class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                    <div class="card">
                      <div class="card-header card-header-primary">
                        <h4 class="card-title">Add/Edit Category</h4>
                        <p class="card-category">Complete Category</p>
                      </div>
                      <div class="card-body">
                        <form method="POST">
                          {% csrf_token %}
                          {{ form.as_p }} 
                          
                          
                          <button type="submit" class="btn btn-primary pull-right">Add</button>
                          <div class="clearfix"></div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <br>
                  <br>
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title ">Product Category</h4>
                      <p class="card-category"> Collection of products we have</p>
                      <button onclick="Export()" class="btn btn-white pull-left" style="color: #9c27b0;">Export</button>

                      <div class="col-md-3 pull-right">
                        <div class="form-group" >
                          <label class="bmd-label-floating">Search</label>
                          <input type="text" id="search" class="form-control" style="color:white">
                        </div>
                      </div>
                          <div class="clearfix"></div>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                          <thead class=" text-primary">
                            
                            <th>
                              Serial No.
                            </th>
                            <th>
                              Seller Name
                            </th>
                            <th>
                              Seller Address
                            </th>
                            <th>
                              Seller Phone
                            </th>
                            <th>
                              Product
                            </th>
                            <th>
                              Date
                            </th>
                            <th>
                              Quantity
                            </th>
                            <th>
                              Rate
                            </th>
                            <th>
                              Amount
                            </th>
                            <th>
                              Total Amount
                            </th>
                            <th>
                              Paid Status
                            </th>
                          </thead>
                          <tbody id="purchaseTable">
                            
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
    </div>
</div>

{% include 'footer/footer.html' %}